//@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;700;800&display=swap'); 
//Fonts are displayed incorrectly when connected via import. Replaced by "<link>"

$white: #fff;
$black: #000;
$bg-gradient: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
$bg-gradient-safe:rgb(50, 108, 255);

html {
    font-size: 10px;
}

body {
    background-color: #000000;
    color: $white;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
}

button {
    &:focus {
        outline: none;
    }
}

.container {
    max-width: 144rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 144rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    &-item {
        margin: 0 2.7rem;
    }
    &-link {
        text-decoration: none;
        font-weight: 700;
        color: rgba($white, 0.5);
        transition: 0.2s ease;
        &:hover {
            color: rgba($white, 1);
        }
        position: relative;
        &::after {   
            content: '';
            opacity: 0;
            display: block;
            width: 100%;
            height: .2rem;
            margin-top: .5rem;
            background: $bg-gradient-safe; //applied if the gradient cannot be loaded
            background: $bg-gradient;
            border-radius: 5rem;
        }
        &.active {
            color: rgba($white, 1);
            &::after {
                opacity: 1;
            }
        }
    }
}

.control {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    &-item {
        margin-left: 7.5rem;
    }
    &-btn {
        background-color: transparent;
        border: none;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        &_search {
            background-image: url(images/search.svg);
            width: 1.8rem;
            height: 1.8rem;
            &:hover {
                cursor: pointer;
            }
        }
        &_notice {
            background-image: url(images/notice.svg);
            width: 2.13rem;
            height: 2.35rem;
            &:hover {
                cursor: pointer;
            }
        }
        &_account {
            background-image: url(images/Account.svg);
            width: 1.8rem;
            height: 1.93rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
.section-banner {
    border-bottom: .1rem solid #2F2E2E;
    position: relative;
    overflow: hidden;
    height: 764px;
    &__image {
        position: absolute;
        right: 0;
        z-index: -1;
    }
}
.banner {
    max-width: 56.2rem;
    padding-top: 12.2rem;
    padding-bottom: 20.3rem;
    background-color: $black;
    box-shadow: 260px 0px 100px $black;
    &__title {
        font-family: 'Marcellus', serif;
        line-height: 7.5rem;
        font-size: 8rem;
    }
    &-info {
        font-weight: 800;
        &__year {
            margin-right: 1.8rem;
        }
        &__age {
            margin-right: 1.8rem;
            position: relative;
            width: 6rem;
            display: inline-block;
            text-align: center;
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 2.4rem;
                background-image: url(images/age.svg);
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                left: 0;
                right: 0;
                top: calc(50% - 1.2rem); // calc(50% - half height)
            }
        }
        &__time {
            margin-right: 6.1rem;
        }
        &__rating {
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 1.6rem;
                height: 1.6rem;
                background-image: url(images/rating-logo.svg);
                position: absolute;
                top: calc(50% - .8rem); // calc(50% - half height)
                right: -2.6rem;
            }
        }
    }
    &__text {
        color: #C2C2C2;
        font-size: 1.8rem;
        line-height: 1.6;
    }
    &-control {
        margin-top: 3.1rem;
        &__btn {
            background-color: transparent;
            border: none;
            border-radius: 10rem;
            padding: 1.5rem 3rem;
            font-family: 'Mulish', sans-serif;
            font-weight: 800;
            cursor: pointer;
        }
        &__btn-main {
            background: $bg-gradient-safe; //applied if the gradient cannot be loaded
            background: $bg-gradient;
            color: $white;
            position: relative;
            padding-left: 6rem;
            margin-right: 3rem;
            transition: 0.2s ease box-shadow;
            &:hover {
                box-shadow: 0px 4px 40px rgba($bg-gradient-safe, 0.2);
            }
            &::after {
                content: '';
                display: block;
                width: 1.4rem;
                height: 1.8rem;
                background-image: url(images/watch-btn-logo.svg);
                position: absolute;
                left: 3rem;
                top: calc(50% - .9rem); // calc(50% - half height)
            }

        }
        &__btn-more {
            background-color: $white;
            color:#323232;
            transition: 0.2s ease box-shadow;
            &:hover {
                box-shadow: 0px 4px 40px rgba($white, 0.2);
            }
        }
    }
}