- var pageTitle = 'OnlineTV'

doctype html
html(lang="en")
  head
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;600;700;800&display=swap")
    title= pageTitle
    style
      include styles/normalize.css 
      include styles/style.css
  body
    include modules/header

    include modules/content

    include modules/footer
