- var pageTitle = 'OnlineTV'

doctype html
html(lang="en")
  head
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;700;800&display=swap")
    title= pageTitle
    style
      include styles/normalize.css 
      include styles/style.css
  body
    include modules/header

    section.section-banner 
      img(src="../src/images/banner.png", alt="Banner").section-banner__image
      .container 
        .banner
          h1.banner__title Zack Snyder's Justice League
          .banner-info 
            span.banner-info__year 2021
            span.banner-info__age 18+
            span.banner-info__time 4h 2min
            span.banner-info__rating 8.8
          p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
          .banner-control 
            button.banner-control__btn.banner-control__btn-main Watch
            button.banner-control__btn.banner-control__btn-more More information
    section.section 
      .container 
        h2.section__h2 
          a(href="#").section__h2-link Trending TV Shows
        .movies 
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 1_01.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 1_02.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 1_03.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 1_04.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 1_05.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 1_06.png", alt="").movies__img
    section.section 
      .container 
        h2.section__h2 
          a(href="#").section__h2-link Trending Movies
        .movies 
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 2_01.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 2_02.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 2_03.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 2_04.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 2_05.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link 
              img(src="../src/images/posters/poster 2_06.png", alt="").movies__img
        button.section__btn See more 


    include modules/footer
